@using InformNotifications.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@if (okRequest)
{
    <h1>Messages:</h1>
    @foreach (var message in messages)
    {
        <h2>@message.Id</h2>
        @* <p>@message.TimeDelivered.ToLongDateString()</p> *@
        <p>@message.TimeDelivered</p>
        <p>@message.Content</p>
        <p>@message.MessageInfo</p>
    }
}
else
{
    <p>Uh oh error</p>
}

@code
{
    List<SentMessage>? messages = new List<SentMessage>();
    bool okRequest = false;

    protected override async Task OnInitializedAsync()
    {
        messages = await HttpClient.GetFromJsonAsync<List<SentMessage>>(NavigationManager.BaseUri + "messages");

        if (messages is not null)
            okRequest = true;
    }
}
